{% extends 'base.html' %} {% block content %}
<form method="post" class="buttons">
    <h3>Welcome to the On Demand Customer Support System!</h3>
    <div>
        <label>Display Name:</label>
        <input type="text" placeholder="Display Name" name="name" value="{{name}}" />
    </div>
    <div class="join">
        <label>Enter Order Number here: </label>
        <input type="text" placeholder="Order Number" name="code" value="{{code}}" />
        <button type="submit" name="join">Order Updates</button>
    </div>
    {% if error %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %}
</form>
{% endblock %}